.userText {
    background: rgba(255, 255, 255, 0.2);
}

.sizeLabel {
    background-color: rgba(255, 255, 255, 0.2);
}

.colorLabel {
    background-color: rgba(255, 255, 255, 0.2);
}

.removeMemeTextButton {
    position: absolute;
}

.memeText {
    position: absolute;
}