.userText {
    background: rgba(255, 255, 255, 0.2);
    resize: both;
    width: 200px;
    height: 80px;
}

.sizeLabel {
    background-color: rgba(255, 255, 255, 0.2);
}

.colorLabel {
    background-color: rgba(255, 255, 255, 0.2);
}

.removeMemeTextButton {
    position: absolute;
}

.memeText {
    position: absolute;
}